*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(248, 255, 255);
    font-size: 20px;
    font-family: sans-serif;
}

h1{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(39, 39, 39);
}

section{
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
}

article{
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
}
p{
    margin-bottom: 40px;
}

.box{
   width: 100%;
   height: 400px;
   position: relative;
   padding: 0px;
   margin-bottom: 40px;
}

.box > a > figure{
    width: 100%;
    height: 100%;
}

.box > a > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.box > a > section{
    position:absolute;
    bottom: 0%;
    left: 0%;
    color: white;
    padding: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(transparent,70%,black);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.box > a > section > p{
    margin-bottom: 0px;
}

.Up{
    width: 80px;
    height: 80px;
    background-color: rgb(39, 39, 39);
    border: none;
    font-size: 150%;
    border-radius: 10px;
    color: white;
    position: fixed;
    top: 80%;
    right: 10%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure{
    margin-bottom: 40px;
}
img{
    width: 100%;
    border-radius: 10px;
    transition: 1s transform;
}

img:hover{
    transform: scale(105%);

}


figcaption{
    font-size: 80%;
    font-style: italic;
}

audio{
    display: block;
    margin-top: 20px;
}

video{
    width: 100%;
    margin-bottom: 40px;
    border-radius: 5px;
}

header{
    background-color: rgb(39, 39, 39);
    height: 60px;
    color: white;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
}

nav > ul > li{
    width: 100%;
    height: 100%;
}

.active{
    background-color: rgb(145, 0, 145);
}

nav > ul > li > a{
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     line-height: 60px;
     text-decoration: none;
     color: white;
}

footer{
    background-color: rgb(39, 39, 39);
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
}

footer > p{
    width: 60vw;
    margin: 0 auto;
    padding-left: 40px;
}

@media screen and (max-width:1000px) {
    article{    
        width: 80vw;
    }
    footer > p{
        width: 80vw;
    }
    img:hover{
        transform: none;
    }
    .Up{
        width: 60px;
        height: 60px;
        top: 80%;
        right: 5%;
    }
    
    header{
        height: auto;
    }
    nav > ul{
        display: block;
        list-style: none;
        height: 100%;
        width: 100%;
    }
    nav{
        width: 100%;    
    }
}

@media screen and (max-width:600px) {
    body{
        font-size: 16px;
    }
    article{    
        width: 100vw;
        padding: 20px;
    }
    footer > p{
        width: 100vw;
        padding: 20px;
    }
}